* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main > *:not(hr) {
  padding: 0px 10px;
}

/* Header CSS copy for each page until allowed JS for a component based header */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: solid 1px black;
}

.nav-links {
    display: flex;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.brand img {
    width: 30px;
    height: 30px;
    display: block;
}
.menu-button {
    display: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: black;
    border-radius: 0;
}
@media (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

hr {
    margin: 0;
    padding: 0;
}

/* Main */

.section-header {
    padding: 10px;
    color: #CFCFCF;
}

.view-projects {
    display: block;
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    margin: 0 10px;
    margin-bottom: 1vh;
}

.contact-me {
    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
    border: solid 1px black;
    padding: 10px 10px;
    margin: 0 10px;
    margin-bottom: 1vh;
}

.profile-photo {
    display: block;
    width: 100%;
    margin-bottom: 1vh;
}

/* About me section */

.about-me {
    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
    border: solid 1px black;
    padding: 10px 10px;
    margin-bottom: 2vh;
}

.indent-margin {
    margin-left: 10px;
}

/* Projects Section */
.project-card {
    display: block;
    margin: 10px;
    border: solid 1px black;
    margin-bottom: 30px;    
}

.project-card hr {
    margin: 0 2vw;
}

img {
    display: block;
    width: 100%;
    margin-bottom: 1vh;
}

.projects-header {
    padding: 10px;
}

.view-project-card {
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    border: solid 1px black;
    padding: 1vh 2vw;
    margin: 1vh 2vw;
}

.project-tag {
    display: inline-block;
    background-color: white;
    color: grey;
    text-decoration: none;
    border: solid 1px black;
    padding: 1vh 2vw;
    margin: 1vh 2vw;
}

.projects-nav {
    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
    border: solid 1px black;
    padding: 10px 10px;
    margin: 0 10px;
    margin-bottom: 1vh;
}

/* Skills Section */

.skills-tag {
    display: inline-block;
    background-color: white;
    color: grey;
    text-decoration: none;
    border: solid 1px black;
    padding: 1vh 2vw;
    margin: 1vh 2vw;
}

.skills-card {
    display: block;
    margin: 10px;
    border: solid 1px black;
    margin-bottom: 30px;  
}

.skills-card hr {
    margin: 0 2vw;
}

.skills-nav {
    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
    border: solid 1px black;
    padding: 10px 10px;
    margin: 0 10px;
    margin-bottom: 1vh;
}

/* Footer Section */

.footer-nav {
    display: inline-block;
    background-color: white;
    color: black;
    width: 27vw;
    text-decoration: none;
    border: solid 1px black;
    padding: 10px 10px;
    margin: 0 10px;
    margin-bottom: 1vh;
}