@import url("/global-css/colours.css");
@import url("/global-css/interactions.css");
@import url("/global-css/header.css");
@import url("/global-css/footer.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

main > *:not(hr) {
  padding: 0px 10px;
}

hr {
  margin: 0;
  padding: 0;
  border-color: var(--border);
}

/* Main */

.section-header {
  padding: 10px;
  color: var(--primary);
}

/* Hero Section */

.view-projects {
  display: block;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--surface);
  padding: 10px 10px;
  margin: 0 10px;
  margin-bottom: 1vh;
}

.contact-me {
  display: block;
  background-color: var(--surface-alt);
  color: var(--primary);
  text-decoration: none;
  border: solid 1px var(--primary);
  padding: 10px 10px;
  margin: 0 10px;
  margin-bottom: 1vh;
}

.profile-photo {
  display: block;
  width: 100%;
  margin-bottom: 1vh;
}

/* Skills Section */
.skills-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
  padding: 12px 2vw;
}

.skills-tag {
  background-color: var(--background);
  color: var(--primary);
  border: solid 1px transparent;
  border-radius: 6px;
  padding: 6px 10px;
  margin: 4px;
  font-size: 14px;
  line-height: 1.4;
  flex-grow: 1;
  text-align: center;
}

.skills-card {
  display: block;
  margin: 10px;
  border: solid 1px var(--border);
  background-color: var(--surface-alt);
  margin-bottom: 30px;
}

.skills-card hr {
  margin: 0 2vw;
}

.indent-margin {
  margin-left: 2vw;
}

@media (min-width: 600px) {
  /* Hero */
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    min-height: auto;
    padding-bottom: 30px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    align-items: start;
  }

  /* Currently learning */

  #currently-learning {
    padding: 25px 30px;
  }

  #currently-learning ul {
    padding-left: 20px;
    line-height: 1.8;
  }

  /* Skills */

  #skills {
    padding: 25px 30px;
  }

  .section-header {
    padding: 0;
    margin-bottom: 20px;
  }

  .skills-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .skills-card {
    flex: 1 1 300px;
    margin: 0;
    padding: 15px;
  }

  .skills-tags {
    padding: 0;
  }

  .skills-card hr {
    margin: 0 0 10px;
  }
}
